* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #292828;
  overflow-x: scroll;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Montserrat";
}

.active {
  background-color: #eeeeee1e;
  border-radius: 0.4rem;
}

.bar-separator {
  width: 95%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}

.header-top.scroll {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.639);
}

.swiper {
  width: 80%;
  height: 200px;
  margin-top: 6rem;
}

.swiper-horizontal .swiper-pagination-bullets, .swiper-horizontal .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-horizontal .swiper-pagination-custom, .swiper-horizontal .swiper-pagination-fraction {
  bottom: 30px;
  left: 0px;
  width: 100%;
}

.back-to-top {
  color: #EAEAEA;
  background-color: #fff;
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 0.5rem;
  clip-path: circle();
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
  display: none;
}

.back-to-top.appaer {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #221B31;
}

body::-webkit-scrollbar-thumb {
  background-color: #332948;
  border-radius: 20px;
  border: 3px solid #221B31;
}

.header-top {
  width: 100vw;
  background-color: #221b31fc;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-top .nav-top {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}
.header-top .nav-top .list {
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-top .nav-top .list .list-item {
  padding: 1.5rem 0;
}
.header-top .nav-top .list .list-item .item {
  padding: 0.4rem 0.5rem;
  text-decoration: none;
  color: #bdb4b4;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  position: relative;
}
.header-top .nav-top .list .list-item .item:hover {
  color: #fff;
}
.header-top .nav-top .list .list-item .item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #eeeeee;
  left: 0.4rem;
  top: 1.5rem;
  transition: width 0.4s ease-in-out;
}
.header-top .nav-top .list .list-item .item:hover::before {
  width: 85%;
}
.header-top .nav-top .list .list-item .one::after {
  opacity: 0;
}
.header-top .nav-top .mobile-menu {
  cursor: pointer;
  display: none;
}
.header-top .nav-top .mobile-menu div {
  background-color: #EAEAEA;
  width: 32px;
  height: 2px;
  margin: 8px;
  transition: 0.3s ease-in-out;
}

.main {
  width: 100%;
  color: #EAEAEA;
}
.main #home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #221B31;
  width: 100%;
  padding-top: 12rem;
}
.main #home .title {
  font-family: "Calligraffitti";
  font-size: 4rem;
  font-weight: 900;
  color: #EAEAEA;
}
.main #home .title .title--red {
  color: red;
}
.main #about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #221B31;
  width: 100%;
  padding-top: 3rem;
}
.main #about .title-about {
  font-size: 2.2rem;
  padding-top: 6rem;
}
.main #about .text-about {
  width: 80%;
  max-width: 1224px;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 3rem;
}
.main #about .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  width: 100%;
  height: 10vh;
  padding: 0 0.1rem;
  overflow: hidden;
}
.main #about .slider .sub-title-about {
  font-size: 1.3rem;
  font-weight: 100;
  opacity: 0.8;
}
.main #about .slider .my-slider {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main #about .slider .my-slider p {
  color: red;
}
.main #services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #221B31;
  width: 100%;
  padding-top: 12rem;
}
.main #services .title-services {
  font-size: 2.2rem;
}
.main #services .cards {
  width: 100%;
  max-width: 1224px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.main #services .cards div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main #services .cards div .layout-card {
  width: 70%;
  height: 4rem;
  margin: 10px;
  padding: 1rem;
  background-color: #221B31;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.07);
  border-radius: 0.5rem;
}
.main #services .cards div .layout-card .title {
  font-size: 90%;
}
.main #services .text-services {
  margin: 6rem 0 3rem 0;
  color: #A39E9E;
  font-size: 1.4rem;
}
.main #managements {
  background-color: #221B31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 6rem;
}
.main #managements .title-managements {
  font-size: 2.2rem;
}
.main #managements .cards-managements {
  width: 100%;
  max-width: 1224px;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.main #managements .cards-managements .card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221b31;
  border-radius: 0.5rem;
}
.main #managements .cards-managements .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221b31;
  border-radius: 0.5rem;
}
.main #managements .cards-managements .card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221b31;
  border-radius: 0.5rem;
}
.main #sales {
  background-color: #221B31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
}
.main #sales .title-sales {
  margin-top: 8rem;
  font-size: 2.2rem;
}
.main #sales .cards-sales-bot {
  width: 100%;
  max-width: 1224px;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.main #sales .cards-sales-bot .card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221b31;
  border-radius: 0.5rem;
}
.main #sales .cards-sales-bot .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
  border-radius: 0.5rem;
}
.main #sales .cards-sales-bot .card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
  border-radius: 0.5rem;
}
.main #sales .cards-sales-bot .card4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  margin: 1rem 0;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
  border-radius: 0.5rem;
}
.main #sales .cards-sales-bot .card5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
  border-radius: 0.5rem;
}
.main #sales .cards-sales-bot .card6 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
  border-radius: 0.5rem;
}
.main #social {
  background-color: #221B31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0 0 1rem;
}
.main #social .title-social {
  font-size: 2.2rem;
  margin-top: 8rem;
}
.main #social .cards-social {
  width: 100%;
  max-width: 1224px;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 2rem;
}
.main #social .cards-social .card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221b31;
  border-radius: 0.5rem;
}
.main #social .cards-social .card1 img {
  width: 5.5rem;
  padding: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #332948;
  height: 4rem;
  transform: translateX(3.5rem);
}
.main #social .cards-social .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
  border-radius: 0.5rem;
}
.main #social .cards-social .card2 img {
  width: 5.5rem;
  padding: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #332948;
  height: 4rem;
  transform: translateX(2rem);
}
.main #social .cards-social .card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
  border-radius: 0.5rem;
}
.main #social .cards-social .card3 img {
  width: 5.5rem;
  padding: 1rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #332948;
  height: 4rem;
  transform: translateX(2.4rem);
}
.main #social .medias-social {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(4rem);
}
.main #social .medias-social a img {
  height: 1.7rem;
}
.main #social .medias-social .discord {
  position: relative;
}
.main #social .medias-social .discord span {
  content: "CrystalZ#1000";
  position: absolute;
  font-size: 0.8rem;
  top: 2rem;
  right: -1.8rem;
}
.main #portfolio {
  background-color: #221B31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
}
.main #portfolio .title-portfolio {
  font-size: 2.2rem;
  margin-top: 10rem;
}
.main #portfolio .cards-portfolio {
  width: 100%;
  max-width: 1224px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.main #portfolio .cards-portfolio .cards-title {
  width: 100%;
  max-width: 1224px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}
.main #portfolio .cards-portfolio .cards-title .card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221b31;
  border-radius: 0.5rem;
}
.main #portfolio .cards-portfolio .cards-title .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  margin: 3rem 0;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
  border-radius: 0.5rem;
}
.main #portfolio .cards-portfolio .cards-title .card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 4rem;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
  border-radius: 0.5rem;
}
.main #portfolio .cards-portfolio .cards-imgs {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 2rem;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 15rem;
  padding: 1rem;
  background: #332948;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
  color: white;
  text-decoration: none;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server:hover div::after {
  transform: scale(1.1);
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img1 {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img1::after {
  content: "";
  position: absolute;
  background-image: url(../../svg/BASCDAO.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: 0.3s ease-in-out;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img2 {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img2::after {
  content: "";
  position: absolute;
  background-image: url(../../svg/BarnyardFashionistas.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img3 {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img3::after {
  content: "";
  position: absolute;
  background-image: url(../../svg/NiftyRiots.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img4 {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img4::after {
  content: "";
  position: absolute;
  background-image: url(../../svg/cyberGirl.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: 0.3s ease-in-out;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img5 {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img5::after {
  content: "";
  position: absolute;
  background-image: url(../../svg/Enviro.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: 0.3s ease-in-out;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img6 {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img6::after {
  content: "";
  position: absolute;
  background-image: url(../../svg/RetroPandas.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: 0.3s ease-in-out;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img7 {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img7::after {
  content: "";
  position: absolute;
  background-image: url(../../svg/Parametrise.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: 0.3s ease-in-out;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img8 {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img8::after {
  content: "";
  position: absolute;
  background-image: url(../../svg/AnnieSBookshop.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: 0.3s ease-in-out;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img9 {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server .img9::after {
  content: "";
  position: absolute;
  background-image: url(../../svg/RiseAngle.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  transition: 0.3s ease-in-out;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server h3 {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
.main #portfolio .cards-portfolio .cards-imgs .links-server h3:hover {
  color: red;
}
.main #portfolio .cards-portfolio .cards-imgs .one {
  background: linear-gradient(135deg, #221e2b, #eae9ed, #221e2b);
  text-transform: uppercase;
}
.main #tc {
  background-color: #221B31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main #tc .title-tc {
  font-size: 2.2rem;
  margin-top: 5rem;
}
.main #tc .center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main #tc .center .list {
  list-style: none;
  margin-top: 4rem;
  width: 90%;
}
.main #tc .center .list .list-tc {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.main #tc .center .list .list-tc .list-two {
  list-style: none;
}
.main #tc .center .list .list-tc .list-two .list-two-tc {
  text-indent: 3rem;
}
.main #contact {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #221B31;
}
.main #contact .title-contact {
  font-size: 2.2rem;
  margin-top: 5rem;
}
.main #contact .card-contact {
  margin: 4rem 0 3rem 0;
  width: 100%;
  max-width: 1220px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main #contact .card-contact a {
  transform: translateY(0);
  transition: 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  color: #fff;
}
.main #contact .card-contact a p {
  transform: translateX(-2rem);
  font-size: 0.8rem;
}
.main #contact .card-contact .discord span {
  content: "CrystalZ#1000";
  position: absolute;
  top: 1.5rem;
  font-size: 0.8rem;
  left: -1.9rem;
}

.footer {
  width: 100%;
  color: #EAEAEA;
  background-color: #171322;
}
.footer #text-footer {
  display: none;
  padding: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer #text-footer .list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
.footer #text-footer .list .list-footer {
  font-size: 0.8rem;
  color: #A39E9E;
}

@media (max-width: 1300px) {
  body .back-to-top {
    display: block;
  }
  body .header-top .nav-top .mobile-menu {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.2rem;
    z-index: 12;
  }
  body .header-top .nav-top .mobile-menu.show .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  body .header-top .nav-top .mobile-menu.show .line2 {
    opacity: 0;
  }
  body .header-top .nav-top .mobile-menu.show .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  body .header-top .nav-top .list {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 1px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #221B31;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }
  body .header-top .nav-top .list.show {
    transform: translateX(0);
  }
  body .header-top .nav-top .list.show .list-item:nth-child(1) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(2) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(3) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(4) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(5) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(6) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(7) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(8) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(9) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(10) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list .list-item {
    padding: 0;
  }
  body .header-top .nav-top .list .list-item:nth-child(1) {
    margin-top: -2rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(2) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(3) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(4) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(5) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(6) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(7) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(8) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(9) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(10) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item .item {
    font-size: 1rem;
  }
  body .header-top .nav-top .list .list-item .item::after {
    opacity: 0;
  }
}
@media (max-width: 1000px) {
  .main #managements .cards-managements {
    flex-direction: column;
    gap: 2rem;
  }
  .main #sales .cards-sales-bot {
    flex-direction: column;
    gap: 2rem;
  }
  .main #about .text-about {
    width: 80%;
  }

  .swiper-horizontal .swiper-pagination-bullets, .swiper-horizontal .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-horizontal .swiper-pagination-custom, .swiper-horizontal .swiper-pagination-fraction {
    bottom: 0;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 950px) {
  .swiper {
    width: 700px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 650px) {
  .main #home .title {
    font-size: 3.5rem;
  }
  .main #services .cards {
    grid-template-columns: 1fr;
  }
  .main #managements .cards-managements {
    grid-template-columns: 1fr;
  }
  .main #sales .cards-sales-bot {
    grid-template-columns: 1fr;
  }
  .main #social .cards-social {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 590px) {
  .main #portfolio .cards-portfolio .cards-title {
    grid-template-columns: 1fr;
  }
  .main #portfolio .cards-portfolio .cards-imgs {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 400px) {
  .main #portfolio .cards-portfolio .cards-imgs {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 390px) {
  .main #home .title {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
