* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #221B31;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Montserrat";
}

.active {
  background-color: #eeeeee1e;
  border-radius: 0.4rem;
}

.bar-separator {
  width: 95%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}

.header-top.scroll {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.639);
}

.swiper {
  width: 80%;
  height: 200px;
  margin-top: 6rem;
}

.swiper-horizontal .swiper-pagination-bullets, .swiper-horizontal .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-horizontal .swiper-pagination-custom, .swiper-horizontal .swiper-pagination-fraction {
  bottom: 30px;
  left: 0px;
  width: 100%;
}

.back-to-top {
  color: #EAEAEA;
  background-color: #fff;
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 0.5rem;
  clip-path: circle();
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.3s ease-in-out;
  display: none;
}

.back-to-top.appaer {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.newList {
  transform: scale(1);
}

.header-top {
  width: 100vw;
  background-color: #221b31fc;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header-top .nav-top {
  width: 85%;
  margin: 0 auto;
}
.header-top .nav-top .list {
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-top .nav-top .list .list-item {
  padding: 1.5rem 0;
}
.header-top .nav-top .list .list-item .item {
  padding: 0.4rem 0.5rem;
  text-decoration: none;
  color: #EAEAEA;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  position: relative;
}
.header-top .nav-top .list .list-item .item:hover {
  opacity: 0.8;
}
.header-top .nav-top .list .list-item .item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #eeeeee;
  left: 0.4rem;
  top: 1.5rem;
  transition: width 0.4s ease-in-out;
}
.header-top .nav-top .list .list-item .item:hover::before {
  width: 85%;
}
.header-top .nav-top .list .list-item .one::after {
  opacity: 0;
}
.header-top .nav-top .mobile-menu {
  cursor: pointer;
  display: none;
}
.header-top .nav-top .mobile-menu div {
  background-color: #EAEAEA;
  width: 2rem;
  height: 2px;
  margin: 8px;
  transition: 0.3s ease-in-out;
}

.main {
  width: 100%;
  color: #EAEAEA;
}
.main #home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #221B31;
  width: 100%;
  padding-top: 12rem;
}
.main #home .title {
  font-family: "Calligraffitti";
  font-size: 4rem;
  color: #EAEAEA;
}
.main #home .title .title--red {
  color: red;
}
.main #about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #221B31;
  width: 100%;
  padding-top: 3rem;
}
.main #about .title-about {
  font-size: 2.2rem;
  margin-top: 5rem;
}
.main #about .text-about {
  width: 80%;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 3rem;
}
.main #services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #221B31;
  width: 100%;
  padding-top: 3rem;
}
.main #services .title-services {
  font-size: 2.2rem;
  margin-top: 12rem;
}
.main #services .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.main #services .cards div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main #services .cards div .layout-card {
  width: 70%;
  height: 10vh;
  margin: 10px;
  background-color: #221B31;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.07);
}
.main #services .text-services {
  margin: 6rem 0 3rem 0;
  color: #A39E9E;
  font-size: 1.6rem;
}
.main #managements {
  background-color: #221B31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
}
.main #managements .cards-managements {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main #managements .cards-managements .card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221b31;
}
.main #managements .cards-managements .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
}
.main #managements .cards-managements .card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
}
.main #sales {
  background-color: #221B31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
}
.main #sales .title-sales {
  margin-top: 8rem;
}
.main #sales .cards-sales-bot {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main #sales .cards-sales-bot .card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221b31;
}
.main #sales .cards-sales-bot .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
}
.main #sales .cards-sales-bot .card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
}
.main #social {
  background-color: #221B31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0 0 1rem;
}
.main #social .title-social {
  font-size: 2.2rem;
  margin-top: 8rem;
}
.main #social .cards-social {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.main #social .cards-social .card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221b31;
}
.main #social .cards-social .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
}
.main #social .cards-social .card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
}
.main #social .slider-social {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 20rem;
  border-radius: 0.5rem;
  background-color: #2A223D;
  position: relative;
}
.main #social .slider-social .text-social {
  position: absolute;
  font-size: 2rem;
  top: 2rem;
}
.main #portfolio {
  background-color: #221B31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
}
.main #portfolio .title-portfolio {
  font-size: 2.2rem;
  margin-top: 10rem;
}
.main #portfolio .cards-portfolio {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.main #portfolio .cards-portfolio .card1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221b31;
}
.main #portfolio .cards-portfolio .card2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
}
.main #portfolio .cards-portfolio .card3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 10vh;
  box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
  background-color: #221B31;
}
.main #portfolio .slider-portfolio {
  margin-top: 4rem;
  width: 85%;
  height: 20rem;
  border-radius: 0.5rem;
  background-color: #2A223D;
}
.main #tc {
  background-color: #221B31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main #tc .title-tc {
  font-size: 2.2rem;
  margin-top: 8rem;
}
.main #tc .center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main #tc .center .list {
  list-style: none;
  margin-top: 4rem;
  width: 90%;
}
.main #tc .center .list .list-tc {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.main #tc .center .list .list-tc .list-two {
  list-style: none;
}
.main #tc .center .list .list-tc .list-two .list-two-tc {
  text-indent: 3rem;
}
.main #testimonies {
  width: 100%;
  background-color: #221B31;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main #testimonies .title-testimonies {
  margin-top: 6rem;
}
.main #testimonies .cards-testimonies .swiper-wrapper .swiper-slide .card {
  width: 95%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #332948;
  position: relative;
  border-radius: 0.5rem;
}
.main #testimonies .cards-testimonies .swiper-wrapper .swiper-slide .card .comments {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 1rem;
  width: 90%;
}
.main #testimonies .cards-testimonies .swiper-wrapper .swiper-slide .card cite {
  position: absolute;
  left: 0;
  bottom: 10px;
  display: flex;
  align-items: center;
}
.main #testimonies .cards-testimonies .swiper-wrapper .swiper-slide .card cite img {
  margin: 0 0.5rem;
  height: 3.5rem;
}

.footer {
  width: 100%;
  color: #EAEAEA;
}
.footer #contact {
  width: 100%;
  background-color: #221B31;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer #contact .title-contact {
  font-size: 2.2rem;
  margin-top: 8rem;
}
.footer #contact .card-contact {
  margin: 8rem 0 3rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer #contact .card-contact a {
  transform: translateY(0);
  transition: 0.3s ease-in-out;
  display: inline-block;
}
.footer #contact .card-contact a:nth-child(1) {
  background-color: blue;
  clip-path: circle();
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.footer #text-footer {
  padding: 0 0 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer #text-footer .list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.footer #text-footer .list .list-footer {
  font-size: 0.8rem;
}

@media screen and (max-width: 1100px) {
  body {
    overflow-x: hidden;
  }
  body .back-to-top {
    display: block;
  }
  body .header-top .nav-top .mobile-menu {
    display: block;
    position: absolute;
    right: 1rem;
    top: 0.2rem;
    z-index: 12;
  }
  body .header-top .nav-top .mobile-menu.show .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  body .header-top .nav-top .mobile-menu.show .line2 {
    opacity: 0;
  }
  body .header-top .nav-top .mobile-menu.show .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  body .header-top .nav-top .list {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #221B31;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }
  body .header-top .nav-top .list.show {
    transform: translateX(0);
  }
  body .header-top .nav-top .list.show .list-item:nth-child(1) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(2) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(3) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(4) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(5) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(6) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(7) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(8) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(9) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list.show .list-item:nth-child(10) {
    transform: translateX(0);
    opacity: 1;
  }
  body .header-top .nav-top .list .list-item {
    padding: 0;
  }
  body .header-top .nav-top .list .list-item:nth-child(1) {
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(2) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(3) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(4) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(5) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(6) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(7) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(8) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(9) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item:nth-child(10) {
    margin-top: -8rem;
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  }
  body .header-top .nav-top .list .list-item .item {
    font-size: 1rem;
  }
  body .header-top .nav-top .list .list-item .item::after {
    opacity: 0;
  }
}
@media (max-width: 1000px) {
  .main #managements .cards-managements {
    flex-direction: column;
    gap: 2rem;
  }
  .main #sales .cards-sales-bot {
    flex-direction: column;
    gap: 2rem;
  }
  .main #about .text-about {
    width: 80%;
  }

  .swiper-horizontal .swiper-pagination-bullets, .swiper-horizontal .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-horizontal .swiper-pagination-custom, .swiper-horizontal .swiper-pagination-fraction {
    bottom: 0;
    left: 0px;
    width: 100%;
  }
}
@media (min-width: 950px) {
  .swiper {
    width: 700px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 650px) {
  .main #home .title {
    font-size: 3.5rem;
  }
  .main #social .cards-social {
    flex-direction: column;
  }
  .main #portfolio .cards-portfolio {
    flex-direction: column;
  }
}
@media (max-width: 390px) {
  .main #home .title {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
