@use 'variables' as * ;


.footer {
    width: 100%;
    color: $color-primary;
    background-color: #171322;

    
    #text-footer {
        display: none;
        padding: 2rem 0 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            list-style: none;

            .list-footer {
                font-size: .8rem;
                color: $color-secondary;
            }
        }
    }
}