@use 'variables' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(65, 65, 65);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.active {
    background-color: #eeeeee1e;
    border-radius: .4rem;
}

.bar-separator {
    width: 95%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
}

.header-top.scroll {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.639);
}

.swiper {
    width: 80%;
    height: 200px;
    margin-top: 6rem;
}

.swiper-horizontal {

    .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 30px;
        left: 0px;
        width: 100%;
    }
}

.back-to-top {
    color: $color-primary;
    background-color: #fff;
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: .5rem;
    clip-path: circle();
    visibility: hidden;
    opacity: 0;
    transform: translateY(100%);
    transition: .3s ease-in-out;
    display: none;
}

.back-to-top.appaer {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}