@use "variables" as *;

.header-top {
    width: 100vw;
    background-color: #221b31fc;
    position: fixed;
    top: 0;
    z-index: 10;

    .nav-top {
        width: 85%;
        margin: 0 auto;

        .list {
            margin: 0 auto;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .list-item {
                padding: 1.5rem 0;
                
                .item {
                    padding: .4rem .5rem;
                    text-decoration: none;
                    color: $color-primary;
                    text-transform: uppercase;
                    transition: .3s ease-in-out;
                    position: relative;

                    &:hover {
                        opacity: .8;
                    }

                    // &::after {
                    //     content: '';
                    //     position: absolute;
                    //     width: 1px;
                    //     height: 1.25rem;
                    //     background-color: $color-secondary;
                    //     left: -3rem;
                    // }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 0;
                        height: 2px;
                        background-color: #eeeeee;
                        left: .4rem;
                        top: 1.5rem;
                        transition: width .4s ease-in-out;

                    }
                    &:hover::before {
                        width: 85%;
                    }


                }
                .one {

                    &::after {
                        opacity: 0;
                    }
                }
            }
        }

        .mobile-menu {
            cursor: pointer;
            display: none;

            div {
                background-color: $color-primary;
                width: 2rem;
                height: 2px;
                margin: 8px;
                transition: .3s ease-in-out;
            }
        }
    }
}