@use 'variables' as * ;

.main {
    width: 100%;
    color: $color-primary;

    #home {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-primary;
        width: 100%;
        padding-top: 12rem;

        .title {
            font-family: 'Calligraffitti';
            font-size: 4rem;
            color: $color-primary;

            .title--red {
                color: red;
            }
        }
    }

    #about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $bg-primary;
        width: 100%;
        padding-top: 3rem;

        .title-about {
            font-size: 2.2rem;
            margin-top: 5rem;
        }

        .text-about {
            width: 80%;
            text-align: center;
            font-size: 1.3rem;
            margin-top: 3rem;
        }
    }

    #services {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $bg-primary;
        width: 100%;
        padding-top: 3rem;

        .title-services {
            font-size: 2.2rem;
            margin-top: 12rem;
        }

        .cards {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            align-items: center;
            justify-content: center;
            margin-top: 4rem;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .layout-card {
                    width: 70%;
                    height: 10vh;
                    margin: 10px;
                    background-color: #221B31;
                    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.07);
                }
            }
        }

        .text-services {
            margin: 6rem 0 3rem 0;
            color: $color-secondary;
            font-size: 1.6rem;
        }
    }

    #managements {
        background-color: $bg-primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 3rem;

        .cards-managements {
            width: 100%;
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            

            .card1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221b31;
            }
            .card2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
            }
            .card3 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
            }
        }
    }

    #sales {
        background-color: $bg-primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 3rem;

        .title-sales {
            margin-top: 8rem;
        }

        .cards-sales-bot {
            width: 100%;
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .card1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221b31;
            }
            .card2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
            }
            .card3 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
            }
        }
        
    }

    #social {
        background-color: $bg-primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3rem 0 0 1rem;

        .title-social {
            font-size: 2.2rem;
            margin-top: 8rem;
        }

        .cards-social {
            width: 100%;
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 2rem;
            

            .card1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221b31;
            }
            .card2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
            }
            .card3 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
            }
        }

        .slider-social {
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 85%;
            height: 20rem;
            border-radius: .5rem;
            background-color: #2A223D;
            position: relative;
            
            .text-social {
                position: absolute;
                font-size: 2rem;
                top: 2rem;
            }
        }
    }

    #portfolio {
        background-color: $bg-primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1rem;

        .title-portfolio {
            font-size: 2.2rem;
            margin-top: 10rem;
        }

        .cards-portfolio {
            width: 100%;
            margin-top: 4rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 2rem;
            

            .card1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221b31;
            }
            .card2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
            }
            .card3 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
            }
        }

        .slider-portfolio {
            margin-top: 4rem;
            width: 85%;
            height: 20rem;
            border-radius: .5rem;
            background-color: #2A223D;
        }
    }

    #tc {
        background-color: $bg-primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .title-tc {
            font-size: 2.2rem;
            margin-top: 8rem;
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;

            .list {
                list-style: none;
                margin-top: 4rem;
                width: 90%;
                
                
                .list-tc {
                    font-size: 1.2rem;
                    line-height: 1.5rem;
    
                    .list-two {
                        list-style: none;
    
                        .list-two-tc {
                            text-indent: 3rem;
                        }
                    }
                }
            }
        }
        }

    #testimonies {
        width: 100%;
        background-color: $bg-primary;
        display: block;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .title-testimonies {
            margin-top: 6rem;
        }

        .cards-testimonies {
            
            .swiper-wrapper {

                .swiper-slide {

                    .card {
                        width: 95%;
                        height: 70%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        background-color: #332948;
                        position: relative;
                        border-radius: .5rem;
    
        
                        .comments {
                            position: absolute;
                            top: 15px;
                            left: 10px;
                            font-size: 1rem;
                            width: 90%;
                        }
        
                        cite {
                            position: absolute;
                            left: 0;
                            bottom: 10px;
                            display: flex;
                            align-items: center;
                            
                            img {
                                margin: 0 .5rem;
                                height: 3.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}