@use 'variables' as * ;

.main {
    width: 100%;
    color: $color-primary;

    #home {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-primary;
        width: 100%;
        padding-top: 12rem;

        .title {
            font-family: 'Calligraffitti';
            font-size: 4rem;
            font-weight: 900;
            color: $color-primary;

            .title--red {
                color: red;
            }
        }
    }

    #about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $bg-primary;
        width: 100%;
        padding-top: 3rem;

        .title-about {
            font-size: 2.2rem;
            padding-top: 6rem;
        }

        .text-about {
            width: 80%;
            max-width: 1224px;
            text-align: center;
            font-size: 1.3rem;
            margin-top: 3rem;
        }

        .slider {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 3rem;
            width: 100%;
            height: 10vh;
            padding: 0 .1rem;
            overflow: hidden;

            .sub-title-about {
                font-size: 1.3rem;
                font-weight: 100;
                opacity: .8;
            }

            .my-slider {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    color: red;
                }
            }
        }
    }

    #services {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $bg-primary;
        width: 100%;
        padding-top: 12rem;

        .title-services {
            font-size: 2.2rem;
        }

        .cards {
            width: 100%;
            max-width: 1224px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: center;
            margin-top: 4rem;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .layout-card {
                    width: 70%;
                    height: 4rem;
                    margin: 10px;
                    padding: 1rem;
                    background-color: #221B31;
                    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.07);
                    border-radius: .5rem;

                    .title {
                        font-size: 90%;
                    }
                }
            }
        }

        .text-services {
            margin: 6rem 0 3rem 0;
            color: $color-secondary;
            font-size: 1.4rem;
        }
    }

    #managements {
        background-color: $bg-primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 6rem;

        .title-managements {
            font-size: 2.2rem;
        }

        .cards-managements {
            width: 100%;
            max-width: 1224px;
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;
            

            .card1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221b31;
                border-radius: .5rem;
            }
            .card2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221b31;
                border-radius: .5rem;
            }
            .card3 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221b31;
                border-radius: .5rem;
            }
        }
    }

    #sales {
        background-color: $bg-primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 3rem;

        .title-sales {
            margin-top: 8rem;
            font-size: 2.2rem;
        }

        .cards-sales-bot {
            width: 100%;
            max-width: 1224px;
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;

            .card1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                margin-bottom: 1rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221b31;
                border-radius: .5rem;
            }
            .card2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                margin-bottom: 1rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
                border-radius: .5rem;
            }
            .card3 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                margin-bottom: 1rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
                border-radius: .5rem;
            }
            .card4 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                margin: 1rem 0;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
                border-radius: .5rem;
            }
            .card5 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
                border-radius: .5rem;
            }
            .card6 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
                border-radius: .5rem;
            }
        }
        
    }

    #social {
        background-color: $bg-primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3rem 0 0 1rem;

        .title-social {
            font-size: 2.2rem;
            margin-top: 8rem;
        }

        .cards-social {
            width: 100%;
            max-width: 1224px;
            margin-top: 4rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;
            gap: 2rem;
            

            .card1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221b31;
                border-radius: .5rem;

                img {
                    width: 5.5rem;
                    padding: 1rem;
                    border-radius: 0 .5rem .5rem 0;
                    background-color: #332948;
                    height: 4rem;
                    transform: translateX(3.5rem);
                }
            }
            .card2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
                border-radius: .5rem;

                img {
                    width: 5.5rem;
                    padding: 1rem;
                    border-radius: 0 .5rem .5rem 0;
                    background-color: #332948;
                    height: 4rem;
                    transform: translateX(2rem);
                }
            }
            .card3 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15rem;
                height: 4rem;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
                border-radius: .5rem;

                img {
                    width: 5.5rem;
                    padding: 1rem;
                    border-radius: 0 .5rem .5rem 0;
                    background-color: #332948;
                    height: 4rem;
                    transform: translateX(2.4rem);
                }
            }
        }

        .medias-social {
            width: 100%;
            height: 2rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transform: translateY(4rem);

            a {

                img {
                    height: 1.7rem;
                }
            }

            .discord {
                position: relative;

                a {
                    position: absolute;
                    display: inline-block;
                    left: -3rem;
                    top: 1.5rem;

                    span {
                        margin-left: .3rem;
                    }
                }
            }
        }
    }

    #portfolio {
        background-color: $bg-primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1rem;

        .title-portfolio {
            font-size: 2.2rem;
            margin-top: 10rem;
        }

        .cards-portfolio {
            width: 100%;
            max-width: 1224px;
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            .cards-title {
                width: 100%;
                max-width: 1224px;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                place-items: center;
                
    
                .card1 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15rem;
                    height: 4rem;
                    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                    background-color: #221b31;
                    border-radius: .5rem;
                }
                .card2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15rem;
                    height: 4rem;
                    margin: 3rem 0;
                    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                    background-color: #221B31;
                    border-radius: .5rem;
                }
                .card3 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 15rem;
                    height: 4rem;
                    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                    background-color: #221B31;
                    border-radius: .5rem;
                }
            }

            .cards-imgs {
                width: 95%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                align-items: center;
                gap: 2rem;

                .links-server {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    height: 15rem;
                    padding: 1rem;
                    background: #332948;
                    backdrop-filter: blur( 20px );
                    border-radius: 10px;
                    border-radius: .5rem;
                    transition: .5s ease-in-out;
                    position: relative;
                    overflow: hidden;
                    color: white;
                    text-decoration: none;
                    
                    &:hover div::after {
                        transform: scale(1.1);
                    }

                    .img1 {
                        width: 100%;
                        height: 10rem;
                        overflow: hidden;
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../../svg/BASCDAO.svg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: 50% 50%;
                            transition: .3s ease-in-out;
                        }
                    }
                    .img2 {
                        width: 100%;
                        height: 10rem;
                        overflow: hidden;
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../../svg/BarnyardFashionistas.svg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center;
                            transition: .3s ease-in-out;
    
                        }
                    }
                    .img3 {
                        width: 100%;
                        height: 10rem;
                        overflow: hidden;
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../../svg/NiftyRiots.svg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: center;
                            transition: .3s ease-in-out;
    
                        }
                    }
                    .img4 {
                        width: 100%;
                        height: 10rem;
                        overflow: hidden;
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../../svg/cyberGirl.svg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: 50% 50%;
                            transition: .3s ease-in-out;
    
                        }
                    }
                    .img5 {
                        width: 100%;
                        height: 10rem;
                        overflow: hidden;
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../../svg/Enviro.svg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: 50% 50%;
                            transition: .3s ease-in-out;
    
                        }
                    }
                    .img6 {
                        width: 100%;
                        height: 10rem;
                        overflow: hidden;
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../../svg/RetroPandas.svg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: 50% 50%;
                            transition: .3s ease-in-out;
    
                        }
                    }
                    .img7 {
                        width: 100%;
                        height: 10rem;
                        overflow: hidden;
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../../svg/Parametrise.svg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: 50% 50%;
                            transition: .3s ease-in-out;
    
                        }
                    }
                    .img8 {
                        width: 100%;
                        height: 10rem;
                        overflow: hidden;
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../../svg/AnnieSBookshop.svg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: 50% 50%;
                            transition: .3s ease-in-out;
    
                        }
                    }
                    .img9 {
                        width: 100%;
                        height: 10rem;
                        overflow: hidden;
                        position: relative;
                        
                        &::after {
                            content: '';
                            position: absolute;
                            background-image: url(../../svg/RiseAngle.svg);
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            background-position: 50% 50%;
                            transition: .3s ease-in-out;
    
                        }
                    }

                    h3 {
                        margin-top: 1.5rem;
                        font-size: 1.1rem;

                        &:hover {
                            color: red;
                        }
                    }
                }

                .one {
                    background: linear-gradient(135deg, #221e2b, #eae9ed, #221e2b);
                    text-transform: uppercase;
                }
            }
        }
    }

    #tc {
        background-color: $bg-primary;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .title-tc {
            font-size: 2.2rem;
            margin-top: 5rem;
        }

        .center {
            display: flex;
            align-items: center;
            justify-content: center;

            .list {
                list-style: none;
                margin-top: 4rem;
                width: 90%;
                
                
                .list-tc {
                    font-size: 1.2rem;
                    line-height: 1.5rem;
    
                    .list-two {
                        list-style: none;
    
                        .list-two-tc {
                            text-indent: 3rem;
                        }
                    }
                }
            }
        }
        }

    #contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $bg-primary;
    
        .title-contact {
            font-size: 2.2rem;
            margin-top: 5rem;
        }
    
        .card-contact {
            margin: 4rem 0 3rem 0;
            width: 100%;
            max-width: 1220px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            a {
                transform: translateY(0);
                transition: .3s ease-in-out;
                display: inline-block;
                position: relative;
                color: #fff;
                
                p {
                    transform: translateX(-2rem);
                    font-size: .8rem;
                }
            }

            .discord {
                position: relative;

                a {
                    position: absolute;
                    display: inline-block;
                    left: -3rem;
                    top: 1.5rem;

                    span {
                        margin-left: .3rem;
                    }
                }
            }
        }
    }

}