@use 'variables' as * ;

.main {
    width: 100%;
    max-width: 1380px;
    color: $color-primary;

    #home {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $bg-primary;
        width: 100%;
        height: 100vh;

        .title {
            font-size: 3rem;
            color: $color-primary;

            .title--red {
                color: red;
            }
        }
    }

    #about {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $bg-primary;
        width: 100%;
        height: 100vh;

        .title-about {
            font-size: 2.2rem;
        }

        .text-about {
            width: 50%;
            font-size: 1.3rem;
            margin-top: 3rem;
        }
    }

    #services {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $bg-primary;
        width: 100%;

        .title-services {
            font-size: 2.2rem;
            margin-top: 10rem;
        }

        .cards {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            align-items: center;
            justify-content: center;
            margin-top: 8rem;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .layout-card {
                    width: 70%;
                    height: 10vh;
                    margin: 10px;
                    background-color: #221B31;
                    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.07);
                    position: relative;
                }

                .cards-on {
                    transition: transform .3s ease-in-out;

                    &::after {
                        content: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius veritatis asperiores iure recusandae enim maiores illo, esse quidem quia dolore ipsum repellendus rerum aliquam doloremque dignissimos repellat corrupti voluptate eveniet vero error a consectetur! Unde debitis sint ad quos quas, molestiae iste numquam illo quaerat nam enim omnis ullam vitae doloribus a accusantium minima, nemo aspernatur, facere nobis culpa quasi rerum aliquid. Iste quisquam repudiandae temporibus veritatis, eaque quae quidem error doloribus nostrum qui eveniet aliquam est vel consectetur architecto!';
                        position: absolute;
                        font-size: .9rem;
                        text-align: center;
                        top: 3rem;
                        width: 100%;
                        background-color: $bg-primary;
                        overflow-y: hidden;
                        height: 0;
                        transition: height .6s ease-in-out;
                        z-index: 100;
                    }

                    .title-on {
                        transition: .3s ease-in-out;
                    }

                    &:hover {
                        box-shadow: 0 0 0 0 transparent;
                    }


                    &:hover .title-on {
                        transform: translateY(-8px);
                    }

                    &:hover::after {
                        height: 150px;
                    }
                }
            }
        }

        .text-services {
            margin: 6rem 0 3rem 0;
            color: $color-secondary;
        }
    }

    #managements {
        background-color: $bg-primary;
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .cards-managements {
            width: 100%;
            margin-top: 8rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            

            .card1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221b31;
            }
            .card2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
            }
            .card3 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20%;
                height: 10vh;
                box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.207);
                background-color: #221B31;
            }
        }
    }


    #testimonies {
        width: 100%;
        background-color: $bg-primary;
        display: block;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .title-testimonies {
            margin-top: 8rem;
        }

        .cards-testimonies {
            
            div {

                .card {
                    width: 25rem;
                    height: 9rem;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-direction: column;
                    background-color: #332948;
                    box-shadow:  0 0 0 0 #000;
                    position: relative;
                    border-radius: .5rem;
                    padding: .5rem;
                    left: 22rem;
    
                    .comments {
                        font-size: 1rem;
                    }
    
                    cite {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        
                        img {
                            margin: 0 .5rem;
                            height: 3.5rem;
                        }
                    }
                }
            }
        }
    }
}