@use 'variables' as * ;

@media screen and (max-width: 1300px) {
    body {
        overflow-x: hidden;

        .back-to-top {
            display: block;
        }

        .header-top {
        
            .nav-top {
    
                .mobile-menu {
                    display: block;
                    position: absolute;
                    right: 1rem;
                    top: .2rem;
                    z-index: 12;
    
                    &.show .line1 {
                        transform: rotate(-45deg) translate(-8px, 8px);
                    }
                    &.show .line2 {
                        opacity: 0;
                    }
                    &.show .line3 {
                        transform: rotate(45deg) translate(-5px, -7px);
                    }
                }
        
                .list {   
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100vh;
                    flex-direction: column;
                    background-color: $bg-primary;
                    transform: translateX(100%);
                    transition: transform .6s ease-in-out;

                &.show {
                    transform: translateX(0);
                }

                &.show .list-item:nth-child(1){
                    transform: translateX(0);
                    opacity: 1;
                }
                &.show .list-item:nth-child(2){
                    transform: translateX(0);
                    opacity: 1;
                }
                &.show .list-item:nth-child(3){
                    transform: translateX(0);
                    opacity: 1;
                }
                &.show .list-item:nth-child(4){
                    transform: translateX(0);
                    opacity: 1;
                }
                &.show .list-item:nth-child(5){
                    transform: translateX(0);
                    opacity: 1;
                }
                &.show .list-item:nth-child(6){
                    transform: translateX(0);
                    opacity: 1;
                }
                &.show .list-item:nth-child(7){
                    transform: translateX(0);
                    opacity: 1;
                }
                &.show .list-item:nth-child(8){
                    transform: translateX(0);
                    opacity: 1;
                }
                &.show .list-item:nth-child(9){
                    transform: translateX(0);
                    opacity: 1;
                }
                &.show .list-item:nth-child(10){
                    transform: translateX(0);
                    opacity: 1;
                }
                    .list-item {
                        padding: 0;

                        &:nth-child(1) {
                            opacity: 0;
                            transition: transform 1s ease-in-out,
                            opacity 1s ease-in-out;
                        }
                        &:nth-child(2) {
                            margin-top: -8rem;
                            opacity: 0;
                            transition: transform 1s ease-in-out,
                            opacity 1s ease-in-out;
                        }
                        &:nth-child(3) {
                            margin-top: -8rem;
                            opacity: 0;
                            transition: transform 1s ease-in-out,
                            opacity 1s ease-in-out;
                        }
                        &:nth-child(4) {
                            margin-top: -8rem;
                            opacity: 0;
                            transition: transform 1s ease-in-out,
                            opacity 1s ease-in-out;
                        }
                        &:nth-child(5) {
                            margin-top: -8rem;
                            opacity: 0;
                            transition: transform 1s ease-in-out,
                            opacity 1s ease-in-out;
                        }
                        &:nth-child(6) {
                            margin-top: -8rem;
                            opacity: 0;
                            transition: transform 1s ease-in-out,
                            opacity 1s ease-in-out;
                        }
                        &:nth-child(7) {
                            margin-top: -8rem;
                            opacity: 0;
                            transition: transform 1s ease-in-out,
                            opacity 1s ease-in-out;
                        }
                        &:nth-child(8) {
                            margin-top: -8rem;
                            opacity: 0;
                            transition: transform 1s ease-in-out,
                            opacity 1s ease-in-out;
                        }
                        &:nth-child(9) {
                            margin-top: -8rem;
                            opacity: 0;
                            transition: transform 1s ease-in-out,
                            opacity 1s ease-in-out;
                        }
                        &:nth-child(10) {
                            margin-top: -8rem;
                            opacity: 0;
                            transition: transform 1s ease-in-out,
                            opacity 1s ease-in-out;
                        }
                           
                        .item {
                            font-size: 1rem;
    
                            &::after {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media (max-width: 1000px) {
    .main {

        #managements {
            
            .cards-managements {
                flex-direction: column;
                gap: 2rem;
            }
        }
        #sales {
            
            .cards-sales-bot {
                flex-direction: column;
                gap: 2rem;
            }
        }

        #about {

            .text-about {
                width: 80%;
            }
        }
    }

    .swiper-horizontal {

        .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            bottom: 0;
            left: 0px;
            width: 100%;
        }
    }
}

@media (min-width: 950px) {
    .swiper {
        width: 700px;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 75%;
    }
}

@media (max-width: 650px) {
    .main {

        #home {

            .title {
                font-size: 3.5rem;
            }
        }
    
        #social {
    
            .cards-social {
                flex-direction: column;
            }
        }
        #portfolio {
    
            .cards-portfolio {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 390px) {
        .main {
    
            #home {
    
                .title {
                    font-size: 2.5rem;
            }
        }
    }
}