// colors
$color-primary: #EAEAEA;
$color-secondary: #A39E9E;

// Backgrounds
$bg-primary: #221B31;


$font-title-primary: 'Roboto' 4rem bold;

$font-title-secondary: 'Roboto' 2.2rem bold;

$font-text: 'Calligraffitti' 4rem bold;